.my-masonry-grid {
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  padding-right: 30px;
  background-clip: padding-box;
}

/* Style your cards */
.card {
  background: white;
  padding: 16px;
  margin-bottom: 30px;
  border-radius: 8px;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card p {
  color: black;
  margin: 0 0 10px;
  white-space: pre-wrap;
}

.card span {
  color: #888;
  font-size: 14px;
}
